extends layout 

block content
  if user
    h1 Welcome back #{user.username}
    a(href="/new") create new message
  else
    h4 Please login to add a message
    a(href="/log-in") Login

  div(class="message-board")
    h1= title  
    each message in messages    
      div(class="message-card")
        p#date #{message.date_formatted}
        if user
          h3 #{message.name}
        else
          h3 private member
        p #{message.message}
    else
      p There are no messages.
    a(href="/log-out") log-out
