extends layout 

block content
  // decleare a re-usable piece of code aka mixin, a post card
  mixin post(message, user)
    - const currentPost = (message.username === user.username)
    div(class="message-card", "currentpost"=`${currentPost}`)
      p#date #{message.date_formatted}
      if user
        h3 #{message.username}
      else
        h3 private member
      p #{message.message}
      if user
        if (user["admin"]==true) || (user.username == message.username)
          button(class="card btn", id=message["_id"], onclick=`handleDelete("${"" + message._id}")`) delete
          button(class="card btn")
           a(href="/edit") edit
  // if user has logged-in 
  if user
    h1 Welcome back #{user.username}
    a(href="/log-out", "style"="display:block") log-out
    a(href="/new", "style"="margin:1rem") create new message
  else
    h4 Please login to add a message
    a(href="/log-in") Login

  // display all posts onthe board
  div(class="message-board")
    h1= title  
    each message in messages    
      +post(message, user)
    else
      p There are no messages.

  script.
    const card = document.querySelector("[currentpost=true]");

    card.addEventListener('mouseenter', e => {
        const cardBtns = e.target.querySelectorAll('.card.btn');
        if (!cardBtns) return
        cardBtns.forEach(cardBtn => cardBtn.style.visibility = "visible")
      });

      card.addEventListener('mouseleave', e => {
        const cardBtns = e.target.querySelectorAll('.card.btn');
        if (!cardBtns) return
        cardBtns.forEach(cardBtn => cardBtn.style.visibility = "hidden")
      })
  // include delete form code piece
  include includes/delete_form