extends layout

block navigation 
  // if user has logged-in
  if user
    p Welcome back,
      h2 #{user.username}
    a(href="/log-out") log-out

    if messages
      - const alreadyPosted = messages.find(message => message.username === user.username)
    if alreadyPosted
      p hover over your post to modify
    else
      a(href="/new") create new message
  else
    h4 Please login to post
    a(href="/log-in") Login

block content
  // decleare a re-usable component/mixin for message card
  mixin post(message, user)
    - let currentPost = false
    if user
      - currentPost = (message.username === user.username)

    .message-card("currentpost"=`${currentPost}`)
      .post-info
        p#date #{message.date_formatted}
      if user
        h3 #{message.username}
      else
        h3 private member
      p #{message.message}
      if user
        .btns("style"="visibility:hidden")
          if user.likes.includes(message._id)
            button(class="cards btn like", id=message["_id"], onclick=`handleUnlike("${"" + message._id}")`) unlike
          else if !currentPost
            button(class="cards btn like", id=message["_id"], onclick=`handleLike("${"" + message._id}")`) like
          if (user["admin"]==true) || (user.username == message.username)
            button(class="cards btn", id=message["_id"], onclick=`handleDelete("${"" + message._id}")`) delete
            button(class="cards btn")
              a(href="/edit") edit

  // list all posts on the board
  .message-board
    h1= title
    .post-container
      each message in messages    
        +post(message, user)
      else
        p There are no messages.

  script.
    const cards = document.querySelectorAll(".message-card");

    cards.forEach(card => {
      card.addEventListener('mouseenter', e => {
        const cardBtns = e.target.querySelectorAll('button');
        if (!cardBtns) return
        cardBtns.forEach(cardBtn => cardBtn.style.visibility = "visible")
      })
    })

    cards.forEach(card => {
      card.addEventListener('mouseleave', e => {
        const cardBtns = e.target.querySelectorAll('button');
        if (!cardBtns) return
        cardBtns.forEach(cardBtn => cardBtn.style.visibility = "hidden")
      })
    })

  // include delete form code piece
  include includes/delete_form
  include includes/like_form
