extends layout 

block content
  // decleare a re-usable piece of code aka mixin, a post cards
  mixin post(message, user)
    - let currentPost = false
    if user
      - currentPost = (message.username === user.username)

    div(class="message-card" "currentpost"=`${currentPost}`)
      p#date #{message.date_formatted}
      if user
        h3 #{message.username}
      else
        h3 private member
      p #{message.message}
      if user
        .btns("style"="visibility:hidden")
          button(class="cards btn", id=message["_id"], onclick=`handleLike("${"" + message._id}")`)
            if user.likes.includes(message._id)
              | unlike
            else
              | like
          if (user["admin"]==true) || (user.username == message.username)
            button(class="cards btn", id=message["_id"], onclick=`handleDelete("${"" + message._id}")`) delete
            button(class="cards btn")
              a(href="/edit") edit
  // if user has logged-in 
  if user
    h1 Welcome back #{user.username}
    a(href="/log-out", "style"="display:block") log-out
    - const alreadyPosted = messages.find(message => message.username === user.username)
    if alreadyPosted
      p hover over your post to modify
    else
      a(href="/new", "style"="margin:1rem") create new message
  else
    h4 Please login to add a message
    a(href="/log-in") Login

  // display all posts onthe board
  div(class="message-board")
    h1= title  
    each message in messages    
      +post(message, user)
    else
      p There are no messages.

  script.
    const cards = document.querySelectorAll(".message-card");

    cards.forEach(card => {
      card.addEventListener('mouseenter', e => {
        const cardBtns = e.target.querySelectorAll('button');
        if (!cardBtns) return
        cardBtns.forEach(cardBtn => cardBtn.style.visibility = "visible")
      });
    })

    cards.forEach(card => {
      card.addEventListener('mouseleave', e => {
        const cardBtns = e.target.querySelectorAll('button');
        if (!cardBtns) return
        cardBtns.forEach(cardBtn => cardBtn.style.visibility = "hidden")
      });
    })

  // include delete form code piece
  include includes/delete_form
  include includes/like_form